@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
} 

.button-card {
  color: #242424;
  background-color: #ffffff;
}

.button-gallery {
  color: #242424;
  background-color: #ffffff;
}

.button-list{
  color: #242424;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

  .navigation-link {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  }

  .navigation-link-prime{
    font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  }

  .navigation-item{
    list-style-type: none;
  }


.invite {
  background-image: url(../images/background-header.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.clarification{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.clarification-link{
  text-align: center;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.description{
  text-align: center;
  color: #FFFFFF;
  
}

.description-subtitle{
  font-size: 24px;
  line-height: 28px;
  background-color: #82B3D3;
  font-weight: 700;
  text-transform: uppercase;
}

.description-lead{
  font-size: 18px;
line-height: 21px;
background-color: #82B3D3;
}

.description-text{
  font-size: 18px;
  line-height: 21px;
  background-color: #82B3D3;
}

.description-house-all{
  background-color:rgba(131, 179, 211, 0.12);
}

.description-subtitle-house{
  color: #333333;
  Font-style: Bold;
  Font-size: 24px;
  Line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-house{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.description-food-all{
  background-color:#FFFFFF;
}

.description-subtitle-food{
  color: #333333;
  Font-style: Bold;
  Font-size: 24px;
  Line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-food{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.description-present-all{
  background-color:rgba(131, 179, 211, 0.12);
}

.description-subtitle-present{
  color: #333333;
  Font-style: Bold;
  Font-size: 24px;
  Line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-present{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.description-place-all{
  background-color:rgba(131, 179, 211, 0.12);
}

.description-subtitle-place{
  color: #333333;
  Font-style: Bold;
  Font-size: 24px;
  Line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-place{
  color: #333333;
}

.description-road-all{
  background-color:rgba(131, 179, 211, 0.2);
}

.description-subtitle-road{
  color: #333333;
  Font-style: Bold;
  Font-size: 24px;
  Line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-road{
  color: #333333;
}

.description-populace-all{
  background-color:rgba(131, 179, 211, 0.12);
}

.description-subtitle-populace{
  color: #333333;
  Font-style: Bold;
  Font-size: 24px;
  Line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-populace{
  color: #333333;
}



.interest{
  text-align: center;
  list-style-type: none;
}

.interest-text{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.interest-desc{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
}

.newsletter{
  background-image: url(../images/background-footer.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-button{
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.newsletter{
  color: #FFFFFF;
}


.page-footer {
  text-align: center;
}

.page-footer-title{
  text-transform: uppercase;
}

.footer-social-list{
  list-style-type: none;
}

.footer-social-item {
  text-align: left;
}

.footer-contacts-list{
  list-style-type: none;
}

.contacts-phone{
  text-decoration: none;
  list-style-type: none;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.footer-logo-HTML {
  text-align: right;
}



.main-inner {
  background-image: url(../images/background-catalog.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1200px;
  height: 403px;
}

.inner-header-title{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link{
  color: #FFFFFF;
}

.button-use{
  background: #82B3D3;
  color: #FFFFFF;
}

.breadcrumbs-item{
  list-style-type: none;
}

.button-first{
  background-color: #756157;
  color: #FFFFFF;
}

.button-second{
  background-color: #82B3D3;
  color: #FFFFFF;
}

.button-third{
  background-color: #7DB54F; 
  color: #FFFFFF;
}

.button-pagination-link-pagination-current{
  background-color:#F2F2F2;
  color:#000000;
}

.button-pagination-link{
  background-color: #82B3D3;
  color: #FFFFFF;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  font-weight: 700;
}

.catalog-filter-item {
  color: #FFFFFF;
  font-weight: 400;
}

.header-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.select-control {
  color: #333333;
}